body{
    background-image: url(img/fundo.jpg);
    background-size: cover;
    text-align: center;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

button{
    background-color: rgba(212, 130, 23, 0.767);
    margin-top: 20px;
    padding: 10px;
}

a{
    text-decoration: none;
    margin-right: 20px;
    padding: 10px;
    background-color:lightskyblue;
    color: black;
    border-radius: 5%;
    
}

div{
  
    margin-bottom: 20px;
}

td{
    border: 2px solid saddlebrown;
    background-color: wheat;
}

h1{
    text-align: center;
    margin: 20px;
}

h2{
    padding: 20px;
}

table{
display: flex;
justify-content: center;
}

.container{

    max-width: 200px;
    margin-left: 44.5%;

  
}

.meio{
    padding: 200px;
}

ul{
    list-style: none;
    padding: 200px;
}

p{
    margin: 60px;
    font-size: x-large;
}

.heading{
    background-color: rgba(212, 130, 23, 0.767);
    display: inline-block;
   border: 2px dotted lightskyblue;
   height: max-content;
   width: 100%;
}

footer{
    background-color: rgba(212, 130, 23, 0.767);
    display: inline-block;
   border: 2px dotted lightskyblue;
    height: max-content;
    width: 100%;
    margin-top: 50px ;
}
